/* Body Styling */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
  }

  /* Profile Image */
  
  .profile-pic {
    margin: 0 auto;
    border: solid 6px antiquewhite;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
  }
  
  .profile-sm {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  /* Portfolio Section */
  .card {
    box-shadow: 1px 1px 8px 2px #000000!important;
  }

  /* Footer socials */

  .social i {
    font-size: 1.5rem;
    color: antiquewhite;
  }

  .btn:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  