/* Body Styling */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
  }

  /* Profile Image */
  
  .profile-pic {
    border: solid 6px antiquewhite;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    z-index: 100;
  }
  
  .profile-sm {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  /* Footer socials */

  .social i {
    color: antiquewhite;
  }

  .btn {
    z-index: 100;
  }
  .card {
    z-index: 5;
  }

  .btn:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  